<!--
  Author: Donald Trowbridge
  Date: 11/13/2020
  Class: CST235-O500
  Statement: This work is my own.
 -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<title>JSF Form Page</title>
</h:head> 
<body> 
<ui:composition template="/layouts/commonLayout.xhtml">
	<ui:define name="content">
		<h:form>
				<h:outputLabel for="firstname">First Name: </h:outputLabel>
				<h:inputText id="firstname" value="#{User.firstName}" />
				<br />
				<h:outputLabel for="lastname">Last Name: </h:outputLabel>
				<h:inputText for="lastname" value="#{User.lastName}" label="Last Name:"/>
				<br />
				<h:commandButton action="#{formController.onSubmit(User)}" value="Submit" />
				<h:commandButton action="#{formController.onFlash(User)}" value="Flash" />
		</h:form>
		<h:messages />
	</ui:define>
</ui:composition>
</body> 
</html>
