<!--
  Author: Donald Trowbridge
  Date: 11/13/2020
  Class: CST235-O500
  Statement: This work is my own.
  Last Update: 11/20/2020
  Notes:
  	-11/20/2020 : Added code for data table and changed output to display new message
  	-11/24/2020 : DataTable updated to pull list of orders from FormController.services
 -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<title>JSF Response Page</title>
</h:head> 
<body> 
	<!-- Imports template to web page -->
	<ui:composition template="/layouts/commonLayout.xhtml">
		<!-- Define the content of the web page -->
		<ui:define name="content">
			<h:outputText value="Hello #{User.firstName} #{User.lastName}. Your orders are:"/>
			<br />
			<br />
			
			<!-- Creates data table of orders -->
						<h:dataTable value="#{formController.service.orders}" var="order">
				<h:column>
					<f:facet name="header">Order Number</f:facet>
					#{order.orderNumber}
				</h:column>
				<h:column>
					<f:facet name="header">Product Number</f:facet>
					#{order.productName}
				</h:column>
				<h:column>
					<f:facet name="header">Price</f:facet>
					$#{order.price}
				</h:column>
				<h:column>
					<f:facet name="header">Quantity</f:facet>
					#{order.quantity}
				</h:column>
			</h:dataTable>
			<br />
			<h:button value="back" outcome="TestForm.jsf" />
		</ui:define>
	</ui:composition>
</body> 
</html>
