@charset "ISO-8859-1";


h1, h5 {
	background-color: #593196;
	color: white;
}
table {
	border-collapse: collapse;
	border: 2px solid black;
}
th, td {
	border: 1px solid black;
	padding-right: 20px;
}
th{
	background-color: #d8d8d8
}